{% extends "base.html" %}

{% block content %}
    <!--hero section-->
    <div id="fullscreen-banner" class="full-banner text-center vertical-align banner-onedot">
        <div class="">
                <img class="page-banner-madao" src="{{ url_for('static', filename='img/banner/g167.png') }}" alt="" />
        </div>
        <div class="container-mid">
            <div class="container">
                <div class="banner-title">
                    <h3 class="text-uppercase semi-transparent theme-bg-space m-top-0 light-txt">We Love to design the impossible {{greetings}}</h3>
                </div>
            </div>
        </div>


    </div>
    <!--hero section-->

    <!--body content start-->
    <section class="body-content">
        <div class="container">
            <div class="row ">
                <!-- Have to clarify where this will be  -->
                {% if pysankyx %}
                <div class="text-center">
                    <ul class="portfolio-filter">
                        <li class="active">
                            <a href="#" data-filter="*"> All</a>
                        </li>
                        {% for obj in filter %}
                            <li class="">
                                <a href="#" data-filter=".{{obj.slug}}">{{obj.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="portfolio portfolio-with-title portfolio-masonry blog-m col-2 gutter ">

                    <!-- DB Items loop -->
                    {% for obj in pysankyx %} 
                        <div class="portfolio-item {{obj.category_slug}} ">
                            <div class="thumb">

                                <div class="portfolio-slider-{{obj.slider}}">
                                    <ul class="slides">
                                        
                                        {% if obj.image1 %}
                                            <li>
                                                <a href="{{ url_for('static', filename='' ~ obj.image1) }}" title="">
                                                    <img src="{{ url_for('static', filename='' ~ obj.image1) }}" alt="">
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if obj.image2 %}
                                            <li>
                                                <a href="{{ url_for('static', filename='' ~ obj.image2) }}" title="">
                                                    <img src="{{ url_for('static', filename='' ~ obj.image2) }}" alt="">
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if obj.image3 %}
                                            <li>
                                                <a href="{{ url_for('static', filename='' ~ obj.image3) }}" title="">
                                                    <img src="{{ url_for('static', filename='' ~ obj.image3) }}" alt="">
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if obj.image4 %}
                                            <li>
                                                <a href="{{ url_for('static', filename='' ~ obj.image4) }}" title="">
                                                    <img src="{{ url_for('static', filename='' ~ obj.image4) }}" alt="">
                                                </a>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </div>


                                <div class="portfolio-hover">
                                    <div class="action-btn">
                                        <a href="#"> <i class="icon-basic_magnifier"></i> 
                                        </a>
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="#">{{obj.name}}</a></h4>
                                        <p><a href="#">{{obj.category_name}}</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-title">
                                <h4>{{obj.name}}</h4>
                                {% if obj.link %}
                                    <div class="date">{{ obj.link }}</div>
                                {% endif %}
                                <p>{{ obj.description }}</p>
                                <div class="product-price">
                                    <!-- <del>$79.00</del> $59.99 -->
                                    {{ obj.price }}
                                </div>
                                <div class="m-top-20 m-bot-20"><a href="blog-single.html" class="btn btn-extra-small btn-dark-border btn-transparent   "><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>
            {% else %}
                <!-- No aviable items, so sold out -->
                <div class="row">
                    <div class="heading-title text-center">
                        <h3 class="text-uppercase">SOLD OUT</h3>
                        <span class="text-uppercase">Some Alert Message  Examples </span>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    <!--body content end-->
{% endblock %}